html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  border: none;
  width: 100%;
  height: 40vh;
}

a {
  text-decoration: underline wavy;
  text-decoration-skip-ink: none;
  color: black;
}

#title {
  margin-top: 0px;
  height: 32px;
}

#title-link {
  display: block;
  width: fit-content;
}

.dashed-border {
  border-left: dashed 1px black;
  border-right: dashed 1px black;
  width: fit-content;
}

#tools-chat-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#tools-container {
  width: 50%;
  padding: 5px;
}

#chat-container {
  width: 50%;
}

@media screen and (max-width: 700px) {
  #tools-chat-container {
    flex-direction: column;
  }
  #tools-container {
    width: 100%;
  }
  #chat-container {
    width: 100%;
  }
}

.tool-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px black solid;
  margin: 5px;
  padding: 5px;
}

.sender {
  opacity: 0.5;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted black;
  background-color: rgba(255, 255, 255, 0.4);
}

#back-arrow {
  margin-left: 5px;
}

#header-button {
  border: none;
  background: none;
  cursor: pointer;
}

#profile {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: green;
}

.chat-name {
  margin-left: 5px;
}

#phone {
  background-color: bisque;
  border: solid 7px black;
  border-top: 25px solid black;
  border-bottom: 40px solid black;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  #phone {
    border: none;
    max-width: none;
    max-height: none;
    border-radius: 0px;
  }
}

.message {
  width: fit-content;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
}

.left {
  align-self: start;
  background: lightgrey;
}

.right {
  align-self: end;
  background: rgb(176, 167, 255);
}

#message-options {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.option-container {
  border: none;
  background: none;
}

.option {
  width: fit-content;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  background: lightgrey;
  cursor: pointer;
}

#contact-title {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
  margin: 0px;
  border-bottom: 1px dotted black;
}

.contact {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
